* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: roboto;
    background-color: #ebebeb;
}
/*////////////////////// HEADER //////////////////*/
header {
    background-color: #EAC926;
    padding: 10px;
}

div.top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

div.top-header p{                /*  Compra en cuotas y sin tarjeta de credito */
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

header div.logo,                /* Logo y Barra de búsqueda */
header div.form,
header div.dollars-hands {
    width: 30%;
}

div.logo {
    padding: 10px;
}

div.form {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 15px;
    }

header div.top-header div.form .searching {
    width: 300px;
    height: 30px
    }

header .form i {
    background-color: #fff;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 1px;
}

.burger-menu {
    display: none;
    background-color: #1259c3;
    height: 50px;
    width: 50px;
    color: white;
    padding: 10px;
    margin: 10vw 40vw;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
}
/*///////////////////////////////////      NAV           ///////////////////////////////*/

nav, .first-list, .second-list {
    font-size: 12px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-list li {
    padding: 7px;
}

.second-list li {
    padding: 7px;
}

ul li {
    list-style-type: none;
}

ul {
    margin: 20px 0px;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

/*////////////////////////////////  REGISTER ////////////////////////*/

.register {
    background-color: rgb(180, 180, 180);
    width: 100%;
    height: 100%;
}

/*////////////////////////////////// Nombre y Apellido, Contraseña y Usuario /////////////////////*/
label.register-title {
padding: 10px 20px;


}
.register-name {
    margin: 30px 20px 0px;
    width: 20%;
    height: 20px;
    text-align: left;
    border-radius: 15px;
}

.register-user,
.register-email{
    margin: 10px 20px 0px;
    width: 20%;
    height: 20px;
    text-align:left;
    border-radius: 15px;
}


/*///////////////////////////////// Fecha de Nacimiento ////////////////////////*/

.birth-date {                  /* Fecha de Nacimiento */
    padding: 10px 20px;
}


.birth_date {                   /* Calendario          */ 
    padding-left: 20px;
    border-radius: 10px;
    margin: 10px;
}

/*///////////////////////////////// Domicilio ////////////////////////*/
.register-addres {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}


/*////////////////////////////////// Perfil del usuario /////////////////////*/

.register-profile {
    padding: 10px 20px;
}

main div.profile {
    margin: 5px 15px;
    padding: 5px;
}

/*////////////////////////////////// Intereses /////////////////////*/

.interests-title {
    padding: 10px 20px;
}

.interests div {
    padding: 5px 10px;
}

/*////////////////////////////////// Perfil /////////////////////*/

.perfil {
    padding: 10px 20px;
}

/*///////////////////////////////     DATOS DEL USUARIO //////////////////////////////*/

.user-dates {
    margin-left: 10px;
}


                              
.profile-botton-submit,            /*///////////Enviar y Borrar ////////////////*/
.profile-botton-reset {                
    width: 10%;
    text-align: center;
    background-color: blue;
    color: white;
}


.profile-botton-submit:hover,            
.profile-botton-reset:hover {                
    background-color: #0022AA;
}